
We do not (unfortunately) have a specific contribution tutorial,
but the OCaml compiler has a CONTRIBUTING file for contribution information:

https://github.com/ocaml/ocaml/blob/trunk/CONTRIBUTING.md

Applicants can contribute to this project through the project repository
or contribution page. The project uses an issue tracker to keep information
about bugs to fix, project features to implement, documentation to write,
and more. Applicants can look for newcomer-friendly issues to use for their
first contributions by looking for the following issue tags in the project issue
tracker:
<a href="https://github.com/ocaml/ocaml/label/newcomer-job">newcomer-job</a>.
Applicants experimented with OCaml in general but not the compiler specifically
may also look at
<a href="https://github.com/ocaml/ocaml/label/newcomer-job-advanced">newcomer-job-advanced</a>

<h3> Small task </h3>

<ul>
  <li> <a href="https://github.com/ocaml/ocaml/issues/9295">#9295</a>:
    Compilers: do not print option documentation in usage messages
  </li>

   <li> <a href="https://github.com/ocaml/ocaml/issues/5232">#5232</a>:
     Add an `-str` option for running short ocaml script
   </li>

  <li> <a href="https://github.com/ocaml/ocaml/issues/7110">#7110</a>:
    Missing Printf.ikbprintf
  </li>

  <li> <a href="https://github.com/ocaml/ocaml/issues/6969">#6969</a>:
    An Ocamldep option to not include the current directory in the searched directories
  </li>


  <li> <a href="https://github.com/ocaml/ocaml/issues/7550">#7550</a>:
    Minimal documentation for injectivity
  </li>


  <li> <a href="https://github.com/ocaml/ocaml/issues/6700">#6700</a>:
    Documentation clarification for -shared
  </li>

  <li> <a href="https://github.com/ocaml/ocaml/issues/8697">#8697</a>:
    undocumented OCAMLRUNPARAM settings
  </li>

  <li> <a href="https://github.com/ocaml/ocaml/issues/6955">#6955</a>:
    Synchronize option help in --help and man page
  </li>


</ul>



<h3> Medium task </h3>

<li> <a href="https://github.com/ocaml/ocaml/issues/7927">#7927</a>:
  refactoring: avoid long tuples in typing/typeclass.ml by using records with named fields
</li>

<li> <a href="https://github.com/ocaml/ocaml/issues/6218">#6218</a>:
  Avoid overwriting files when mistakenly setting -o to a source or intermediate filename
</li>


<li> <a href="https://github.com/ocaml/ocaml/issues/6102">#6102</a>:
  ocaml{c,opt}: Provide command-line options to stop compilation after any stage
</li>


<li> <a href="https://github.com/ocaml/ocaml/issues/8889">#8889</a>:
  Source highlighting for contextual errors broken by line directives
</li>

</ul>


<h3> Large task </h3>

<ul>
  <li> <a href="https://github.com/ocaml/ocaml/issues/7560"> #7560</a>:
    JSON output for ocamldep
  </li>

  <li> <a href="https://github.com/ocaml/ocaml/issues/7099"> #7099 </a>:
    Add a ppx debugging mode to the ocaml REPL
  </li>


  <li> <a href="https://github.com/ocaml/ocaml/issues/8747">#8747</a>:
    incorrect principality warning on functional updates of records
  </li>
</ul>
